<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
                Final Year Project
            </a>
        </div>
        <div class="nav-right">
            <a class="nav-item is-tab" href="/">Code Analysis</a>
            <a class="nav-item is-tab" href="http://www.github.com/oflynned/FYP" target="_blank">GitHub</a>
            <a class="nav-item is-tab is-active" href="/about">About</a>
        </div>
    </div>
</nav>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Motivation and Relevance
            </h1>
        </div>
        <br>
        <div class="container">
            I started this project as part of my final year project in Computer Engineering, as supervised by Prof.
            Stephen Barrett. My aims and goals for the project have stemmed from an interest in what makes a good
            team, and what exactly makes an individual progress. Is it through the influence of peers? Is it
            through exposure to new styles? Is it from jumping straight into the deep end?
        </div>
        <br>
        <div class="container">
            My approach to this started out simply - analyse a repository and generate information about a user per
            commit. Each commit has to follow a simple atomic axiom - only one user can commit at a time. This infers
            that contributions can be mapped to the progression of the project as a whole through Halstead complexity
            metrics, and show what governs the true contributions by users in a project. The general complexities
            and raw metrics associated per commit also allow the progression of a user to be shown over time in a
            sense of the change of their contributions, and the change of the complexities over time.
        </div>
    </div>
</section>

<hr>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What Does This Mean?
            </h1>
        </div>
        <br>
        <div class="container">
            In short, this means that this webpage was set up to allow for easy access for users (and me lol) to run
            jobs more easily and allow for a repository to be analysed easily through a nice interface. Under the
            "Code Analysis" tab, it's possible to view already mined repositories and submit your own GitHub links
            for <strong>Python</strong> repositories to be mined (as of March 2017). Graphs and other metrics per repo
            should also be visible as a way to see who and what governs the quality of a repository.
        </div>
        <br>
        <div class="container">
            To mine a repository, input its URL into the text box, submit it as a job, and then wait. Metric are
            generated on the fly, so graphs will be updated on refresh until all of the commits have been analysed.
        </div>
    </div>
</section>

<hr>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Are You Harvesting My Data?
            </h1>
        </div>
        <br>
        <div class="container">
            Yes, but it's not anything that isn't publicly available anyway. Emails on Git are public by default.
            Hide your email on Git under settings if you don't want it mined by bots and recruiters.
        </div>
    </div>
</section>

<hr>