<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var vis = new google.visualization.DataTable();
            vis.addColumn('date', 'Time');
            vis.addColumn('number', "Complexity");
            vis.addColumn('number', "Number of Contributors");

            var groomed = [];

            $.getJSON("http://localhost:3000/avg-complexity-data/{{repo}}")
                    .done(function (data) {
                        console.log(data.length + " JSON objects retrieved");
                        return data;
                    })
                    .done(function (data) {
                        data.forEach(function (d) {
                            var item = [new Date(d["commit_details"][0]["time"]), parseFloat(d["avg_complexity"]), 0];
                            groomed.push(item);
                        });

                        groomed.sort(function (a, b) {
                            return new Date(a[0]) - new Date(b[0]);
                        });

                        var temp = [];
                        var tempCopyFromOrig = [];

                        data.forEach(function (d) {
                            d = d["commit_details"][0];
                            var time = new Date(d["time"]);
                            var author = d["author"];
                            tempCopyFromOrig.push([time, author]);
                        });

                        tempCopyFromOrig.sort(function (a, b) {
                            return new Date(a[0]) - new Date(b[0]);
                        });

                        tempCopyFromOrig.forEach(function (d) {
                            var found = false;
                            var time = d[0];
                            var author = d[1];

                            if (temp.length === 0) {
                                temp.push([time, 1, author]);
                            } else {
                                temp.forEach(function (contributor) {
                                    if (author === contributor[2]) {
                                        found = true;
                                    }
                                });

                                if (!found) {
                                    temp.push([time, temp[temp.length - 1][1] + 1, author]);
                                } else {
                                    temp.push([time, temp[temp.length - 1][1], author]);
                                }
                            }
                        });

                        groomed.sort(function (a, b) {
                            return new Date(a[0]) - new Date(b[0]);
                        });

                        for (var i = 0; i < groomed.length; i++)
                            groomed[i][2] = temp[i][1];

                    })
                    .done(function () {
                        vis.addRows(groomed);
                        var options = {
                            title: 'Complexity v Amount of Contributors for Repo ({{repo}})',
                            legend: {position: 'bottom'},
                            series: {
                                0: {targetAxisIndex: 0},
                                1: {targetAxisIndex: 1}
                            },
                            vAxes: {
                                0: {title: "Complexity (Halstead)"},
                                1: {title: "Contributors (# People)"}
                            }
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                        chart.draw(vis, options);
                    })
        }
    </script>
</head>
<body>
<div id="curve_chart" style="width: 90vw; height: 90vh"></div>
</body>
</html>