<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = $.ajax({
                url: "http://localhost:3000/committers-data/{{repo}}",
                dataType: "JSON",
                async: false
            }).responseText;

            data = JSON.parse(data);
            var headings = [['Time', 'Commits']];
            var grooming = [];

            data.forEach(function (d) {
                var item = [new Date(d["time"]), 1];
                var found = false;

                {{#compare epoch "==" "hour"}}
                    item[0] = item[0].getHours();
                {{/compare}}
                {{#compare epoch "==" "day"}}
                    item[0] = item[0].getDay();
                {{/compare}}
                {{#compare epoch "==" "month"}}
                    item[0] = item[0].getMonth();
                {{/compare}}
                {{#compare epoch "==" "date"}}
                    item[0] = item[0].toDateString();
                {{/compare}}

                if (grooming.length == 0) {
                    grooming.push(item);
                } else {
                    grooming.forEach(function (commit) {
                        // committed more than once
                        if (item[0] === commit[0]) {
                            found = true;
                            commit[1] += 1;
                        }
                    });

                    if (!found) {
                        grooming.push(item);
                    }
                }
            });

            {{#compare epoch "!=" "date"}}
                grooming.sort(function (a, b) {
                    return a[0] > b[0] ? 1 : -1;
                });
            {{/compare}}

            for (var item in grooming)
                headings.push(grooming[item]);

            var data = new google.visualization.arrayToDataTable(headings);
            var options = {
                hAxis: {title: 'Time'},
                vAxis: {minValue: 0, title: 'Commits'},
                curveType: 'function'
            };

            var chart = new google.visualization.LineChart(document.getElementById('series_chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="series_chart_div" style="width: 1920px; height: 1080px"></div>
</body>
</html>