<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var groomed = [['Time', 'Amount of Contributors']];
            $.getJSON("http://localhost:3000/committers-data/{{repo}}")
                    .done(function (data) {
                        console.log(data.length + " JSON objects retrieved");
                        return data;
                    })
                    .done(function (data) {
                        var tempCopyFromOrig = [];

                        var temp = [];
                        data.forEach(function (d) {
                            var time = new Date(d["time"]);
                            var author = d["author"];
                            tempCopyFromOrig.push([time, author]);
                        });

                        tempCopyFromOrig.sort(function (a, b) {
                            return new Date(a[0]) - new Date(b[0]);
                        });

                        tempCopyFromOrig.forEach(function (d) {
                            var found = false;
                            var time = d[0];
                            var author = d[1];

                            if (temp.length === 0) {
                                temp.push([time, 1, author]);
                            } else {
                                temp.forEach(function (contributor) {
                                    if (author === contributor[2]) {
                                        found = true;
                                    }
                                });

                                if (!found) {
                                    temp.push([time, temp[temp.length - 1][1] + 1, author]);
                                } else {
                                    temp.push([time, temp[temp.length - 1][1], author]);
                                }
                            }
                        });

                        temp.sort(function (a, b) {
                            return new Date(a[0]) - new Date(b[0]);
                        });

                        temp.forEach(function (d) {
                            groomed.push([d[0], d[1]]);
                        })
                    })
                    .done(function () {
                        var data = new google.visualization.arrayToDataTable(groomed);
                        var options = {
                            title: 'Cumulative Contributor Join for Repo ({{repo}})',
                            legend: {position: 'bottom'},
                            hAxis: {title: 'Time of Joining Repo'},
                            vAxis: {minValue: 0, title: 'Number of Contributors'}
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                        chart.draw(data, options);
                    })
        }
    </script>
</head>
<body>
<div id="curve_chart" style="width: 90vw; height: 90vh"></div>
</body>
</html>