<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var vis = new google.visualization.DataTable();
            vis.addColumn('date', 'Commit');
            vis.addColumn('number', "LOC Change");
            vis.addColumn('number', "Complexity");

            var groomed = [];

            $.getJSON("http://localhost:3000/raw-data/{{repo}}")
                    .done(function (data) {
                        var i = 0;

                        data.forEach(function (d) {

                            var currLOC = 0;
                            var commit = new Date(d["commit_details"][0]["time"]);
                            var complexity = d["average_complexity"][0]["avg_complexity"];

                            for (var item in d["files"])
                                currLOC += d["files"][item]["loc"];

                            if (i === 0) {
                                groomed.push([commit, parseInt(currLOC), parseFloat(complexity)]);
                                //console.log(i + " " + parseInt(currLOC) + " " + 0)
                            } else {
                                var changeInLOC = currLOC - groomed[i - 1][1];
                                groomed.push([commit, parseInt(changeInLOC), parseFloat(complexity)]);
                                //console.log(i + " " + currLOC + " " + changeInLOC);
                            }

                            i++;
                        });

                        groomed.sort(function (a, b) {
                            return a[0] > b[0] ? 1 : -1;
                        })
                    })
                    .done(function () {
                        vis.addRows(groomed);

                        var options = {
                            title: 'LOC Change v Complexity over Time for Repo ({{repo}})',
                            legend: {position: 'bottom'},
                            series: {
                                0: {targetAxisIndex: 0},
                                1: {targetAxisIndex: 1}
                            },
                            vAxes: {
                                0: {title: "LOC Change (Lines)"},
                                1: {title: "Complexity (Halstead)"}
                            }
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                        chart.draw(vis, options);
                    })
        }
    </script>
</head>
<body>
<div id="curve_chart" style="width: 90vw; height: 90vh"></div>
</body>
</html>