<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var groomed = [['User', 'Change in LOC', 'Change in complexity', 'Intensity', 'Size']];
            $.getJSON("http://localhost:3000/raw-data/{{repo}}")
                    .done(function (data) {
                        var grooming = [];
                        var endGrooming = [];

                        var i = 0;
                        data.forEach(function (d) {
                            var currLOC = 0;
                            var complexity = d["average_complexity"][0]["avg_complexity"];
                            var user = d["commit_details"][0]["author"];

                            for (var item in d["files"])
                                currLOC += d["files"][item]["loc"];

                            grooming.push([user, parseInt(currLOC), parseFloat(complexity)]);
                            i++;
                        });

                        i = 0;
                        grooming.forEach(function (thisItem) {
                            var found = false;

                            if (endGrooming.length === 0) {
                                endGrooming.push(grooming[0]);
                            } else {
                                var lastItem = grooming[i - 1];
                                var user = thisItem[0];
                                var changeInLOC = thisItem[1] - lastItem[1];
                                var changeInComplexity = thisItem[2] - lastItem[2];

                                endGrooming.forEach(function (value) {
                                    // committed more than once
                                    if (user === value[0]) {
                                        found = true;
                                        value[1] += changeInLOC;
                                        value[2] += changeInComplexity;
                                    }
                                });

                                if (!found) {
                                    endGrooming.push(thisItem);
                                }
                            }

                            i++;
                        });

                        endGrooming.forEach(function (item) {
                            // change in lines of code per change of complexity
                            var intensity = item[1] / item[2];
                            groomed.push([item[0], item[1], item[2], intensity, intensity])
                        });
                    })
                    .done(function () {
                        var dataVis = new google.visualization.arrayToDataTable(groomed);
                        var options = {
                            title: 'LOC v complexity changes per user',
                            hAxis: {title: 'Change in LOC'},
                            vAxis: {title: 'Change in Complexity'},
                            bubble: {textStyle: {fontSize: 10}},
                            colorAxis: {colors: ['red', 'green']},
                            animation: {
                                duration: 2000,
                                easing: 'out',
                                startup: true
                            }
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.BubbleChart(document.getElementById('chart'));
                        chart.draw(dataVis, options);
                    })
        }
    </script>
</head>
<body>
<div id="chart" style="width: 90vw; height: 90vh"></div>
</body>
</html>