<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var repos = {repos: ["cryptography", "tornado", "keras", "tweepy", "kivent", "flask", "treq", "eve", "Pyrebase"]};

        function drawChart() {
            $.ajax({
                url: "overall-avg-complexity-data",
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(repos),
                processData: false
            }).done(function (data) {
                console.log(data.length + " records");
                var d = google.visualization.arrayToDataTable(data);

                var options = {
                    title : 'Normalised Complexities over Time',
                    vAxis: {title: 'Complexity (Halstead)'},
                    hAxis: {title: 'Time Interval (% of max time)'},
                    seriesType: 'line'
                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(d, options);
            })
        }
    </script>
</head>
<body>
<div id="chart_div" style="width: 90vw; height: 90vh"></div>
</body>
</html>